<el-card class="box-card editor-containcer" v-bind:span="24">
	<!-- //form element -->

	<el-form v-bind:model="form" v-bind:rules="rules" ref="article-editor-form" label-width="80px">

		<el-form-item label="Title">

			<el-col v-bind:span="11">
		    	<el-input placeholder="" v-model="form.title"></el-input>
		    </el-col>

		    <label class="el-form-item__label i-need-left-space"><i class="material-icons" title="Youtube video URL">video_library</i></label>

		    <el-col v-bind:span="6">
		    	<el-input placeholder="starts with https://" v-model="form.video_url"></el-input>
		    </el-col>

		    <label class="el-form-item__label i-need-left-space"><i class="material-icons" title="When this article can be seen">date_range</i></label>
		    <el-col v-bind:span="3">
		    	<el-date-picker v-model="form.start_time" type="datetime" placeholder="Online time"></el-date-picker>
		    </el-col>

	  	</el-form-item>

	  	<el-form-item label="Others">

	  		<el-col v-bind:span="3">
		    	<component v-bind:bus="bus" v-bind:is="user_selection_component"></component>
		    </el-col>

		    <el-col v-bind:span="4">
		    	<component v-bind:bus="bus" v-bind:is="category_selection_component"></component>
		    </el-col>

		    <el-col v-bind:span="7">
		    	<el-input placeholder="Keywords, (seperated with comma: ',')" v-model="form.keywords"></el-input>
			</el-col>					    

			<el-col v-bind:span="2" align="right">
		    	<el-checkbox label="approved" v-model="form.approved"></el-checkbox>
		    </el-col>

		    <el-col v-bind:span="2" align="right">
		    	<el-checkbox label="at top" v-model="form.at_top"></el-checkbox>
		    </el-col>

		    <el-col v-bind:span="5" align="right">
		    	
		    	<el-button type="primary" v-on:click="submit" size="mini">
		    		<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Save this form">save</i> 
		    	</el-button>

		    	<el-button type="danger" v-on:click="resetForm" size="mini">
		    		<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Reset this form">clear</i> 
		    	</el-button>

		    	<el-button size="mini">
		    		<i class="material-icons blue" data-toggle="tooltip" data-placement="bottom" title="You can drag multiple photos from your folder to this editor to upload.">info</i> 
		    	</el-button>

		    	<el-button v-on:click="showPhotoDialog" size="mini">
		    		<i class="material-icons green" data-toggle="tooltip" data-placement="bottom" title="All the uploaded photos">photo_library</i> 
		    	</el-button>
		    </el-col>

	  	</el-form-item>
	  	

	  	<div id="editor"></div>

	</el-form>
	
</el-card>

<el-dialog ref="loading-dialog" title="Uploading..." v-model="uploadingDialog" size="tiny">
  <el-row v-bind:gutter="5" justify="center">
  	<img class="loading-image" src="/images/loading.gif" width="152" height="152"/>
  </el-row>
</el-dialog>

<el-dialog ref="upload-pano-dialog" title="Upload Pano" v-model="uploadPanoVisiable" size="tiny">
  <span><i class="material-icons">panorama</i></span>

  <el-upload action="/api/images"
	               ref="image_upload"
	               v-bind:on-success="handlePanoUploadSuccess"
	               v-bind:on-error="handlePanoUploadError"
	               v-bind:data="upload_pano_params"
			   v-bind:auto-upload="true">
		<el-button slot="trigger" size="small" type="primary">select...</el-button>
		<div slot="tip" class="el-upload__tip">jpg/png files with a size less than 5MB.</div>
  </el-upload>

  <span slot="footer" class="dialog-footer">
    <el-button v-on:click="uploadPanoVisiable = false">Close</el-button>
  </span>
</el-dialog>

<el-dialog ref="uploaded-photo-dialog" title="Uploaded Photos" v-model="uploadedPhotoVisible" v-on:open="uploadedPhotoOpen" size="large">
  	<h5><i class="material-icons">photo_library</i> All the uploaded photos for this article</h5>

	<el-row>
		<el-col v-bind:span="4" v-for="(photo, index) in uploadedPhotos">
			<el-card v-bind:body-style="{ padding: '2px' }">
			  <img v-bind:src="photo.path" class="card-thubnail-image">
			</el-card>
		</el-col>
	</el-row>

	<span slot="footer" class="dialog-footer">
		<el-button v-on:click="uploadedPhotoVisible = false">Close</el-button>
	</span>
</el-dialog>