	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
		<script src="/javascripts/front.libs.min.js" ></script>

		<script>
      		$(document).foundation().ready(function(){
      			$('.ratio-item-img').keepRatio({ ratio: 16/9, calculate: 'height' });

      			$('.jscroll').jscroll({
				    loadingHtml: '<p>loading...</p>',
				    nextSelector: 'a.jscroll-next:last',
				    padding: 0,
				    debug: true,
				    callback: function(){
				    	$('.ratio-item-img').keepRatio({ ratio: 16/9, calculate: 'height' });
				    }
				});

      		});

    	</script>
	</body>
</html>