		
		<% if(configs.extra_footer) { %>
			<% var extra_path = configs.extra_footer; %>
			<%- include(extra_path) %>
		<% } %>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
		<script src="/javascripts/front.libs.min.js" ></script>

		<%- include share_btns %>

		<script>
      		$(document).foundation().ready(function(){
      			$('.ratio-item-img').keepRatio({ ratio: 16/9, calculate: 'height' });

      			$('.jscroll').jscroll({
				    loadingHtml: '<img src="/images/page_loader.gif" width="100" height="100" />',
				    nextSelector: 'a.jscroll-next:last',
				    padding: 0,
				    // debug: true,
				    // autoTriggerUntil: 10,
				    refresh: true,
				    callback: function(){
				    	$('.ratio-item-img').keepRatio({ ratio: 16/9, calculate: 'height' });
				    	$('.cate-card').equalHeights();
				    }
				});

				$('#ArticleContentContainer').find('img').responsImg();

				$.get('/menu').then(function(result){
					$('#top-menu-placeholder').html(result);
				});

				var $pano_photos = $('img.pano-photos');

				if($pano_photos.length){

					$pano_photos.wrap('<div class="pano-container"></div>').removeClass('hide-pano-photo');

					$('.pano-container').panorama_viewer({
					    repeat: true,              
					    direction: "horizontal",  
					    animationTime: 700,       
					    easing: "ease-out",       
					    overlay: true
					});

				}

      		});

      		$(window).resize(function(){
			    $('#ArticleContentContainer').find('img').responsImg();
			    $('.cate-card').equalHeights();
			});

    	</script>


	</body>
</html>