		
		<% if(configs.extra_footer !== undefined) { %>
			<% var extra_path = configs.extra_footer; %>
			<%- include(extra_path) %>
		<% } %>

		<input type="hidden" id="layout_ipt" value="<%= layout || '' ; %>"/>

		<script src="/javascripts/front.libs.min.js" ></script>
		<script src="/javascripts/front.actions.min.js" ></script>

		<%- include share_btns %>

	</body>
</html>