		
		<% if(configs.extra_footer) { %>
			<% var extra_path = configs.extra_footer; %>
			<%- include(extra_path) %>
		<% } %>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
		<script src="/javascripts/front.libs.min.js" ></script>

		<%- include share_btns %>

		<script>
      		$(document).ready(function(){
      			$('.ratio-item-img').keepRatio({ ratio: 16/9, calculate: 'height' });

      			$('.jscroll').jscroll({
				    loadingHtml: '<img src="/images/page_loader.gif" width="100" height="100" />',
				    nextSelector: 'a.jscroll-next:last',
				    padding: 0,
				    refresh: true,
				    callback: function(){
				    	$('.ratio-item-img').keepRatio({ ratio: 16/9, calculate: 'height' });
				    	$('.cate-card').equalHeights();
				    }
				});

				$('#ArticleContentContainer').find('img').responsImg();

				$.get('/menu').then(function(result){
					$('#top-menu-placeholder').html(result);
				});

				var $pano_images = $('img.pano-photos');
				if($pano_images.length){
					$pano_images.each(function(idx, img){
						var $img = $(img);
						$img.after('<div class="pano-container" data-img-src="'+$img.attr('src')+'" />');
					});

					var $pano_container = $('div.pano-container');

					if($pano_container.length){ //has PSV feature
						
						$('.pano-container').each(function(jdx, div){

							// Panorama display
							div.style.height = '30px';

							var image_src = $(div).data('img-src');

							if(!image_src){
								return true;
							}

							PSV = new PhotoSphereViewer({
								// Path to the panorama
								panorama: image_src,

								// Container
								container: div,

								// Deactivate the animation
								time_anim: false,

								// Display the navigation bar
								navbar: true,

								// Resize the panorama
								size: {
									width: '100%',
									height: '300px'
								},

								// HTML loader
								loading_html: '↻ 讀取全景圖中...',

								// Disable smooth moves to test faster
								smooth_user_moves: false
							});

						});//eo each

					}//eo PSV telling
				}

				$('.cate-card').equalHeights();
			    $('.footer-same-cate-articles-smaller').equalHeights();

      		}).foundation();

      		$(window).resize(function(){
			    $('#ArticleContentContainer').find('img').responsImg();
			    $('.cate-card').equalHeights();
			    $('.footer-same-cate-articles-smaller').equalHeights();
			});

    	</script>


	</body>
</html>