<% include _fe_header_ %>

<div class="row">
	
	<!-- aritcle content -->
	<div class="small-12 medium-12 large-12 container">

		<div class="jscroll clearfix">
			<a class="jscroll-next" href="/articles/index/0"></a>
		</div>
		
	</div>

</div>

<% include _fe_footer_ %>