<% include _fe_header_ %>

<link rel="stylesheet" href="/stylesheets/masonry.styles.css"/>

<div class="row">
	
	<!-- aritcle content -->
	<span class="page-indicator hidden" data-src="/articles/index/0"></span>

	<div id="masonry-grid"></div>

</div>

<% include _fe_footer_ %>