<div id="topmost-menu" class="title-bar hide" data-responsive-toggle="main-menu" data-hide-for="medium">
    
    <!--<button id="test_atrget" class="menu-icon title-bar-menu-button" type="button" data-toggle="top-small-menu-placeholder"></button>-->

	<ul class="small-nav-bar dropdown menu nav navbar-nav show-for-small-only" data-dropdown-menu data-responsive-menu="drilldown medium-dropdown" style="width: 10%; float: left;">
	  <li>
	    <a href="#" class="" style="padding: .8rem 1.2rem .7rem .4rem; font-size: 1.4rem;">
	      	<i class="fa fa-car"></i>
	    </a>
	    <ul id="top-menu-placeholder" class="menu vertical menu-holder">
	      <!-- categories go here -->
	    </ul>
	  </li>
	</ul>

  <div class="title-bar-title" style="width: 90%">
  	<div style="display: inline-block; float: left; font-size: 2rem; font-weight: 900; margin-right: 0.5rem; width: 45%;"><span style="color: red;">CAR</span><span style="color: black;">LINK</span></div>
  	<form method="get" action="https://www.google.com.sg/search">
      <input type="hidden" name="sitesearch" value="www.lian-car.com"/>
      <ul class="menu float-right search-bar-menu nav navbar-nav" style="width: 50%; float: right !important; margin-top: 0.2rem;">
        <li>
          <div class="input-group menu">
            <input class="input-group-field" type="search" name="q" placeholder="Google..." />
            <div class="input-group-button">
              <button type="submit" class="button"><i class="material-icons">search</i></button>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>

<nav class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu nav navbar-nav" data-dropdown-menu data-responsive-menu="drilldown medium-dropdown" style="width: 50%; float: left;">
      <li>
        <a href="#" class="hide-for-small-only">
          <i class="material-icons">directions_car</i>
        </a>
        <ul id="top-menu-placeholder" class="menu vertical menu-holder">
          <!-- categories go here -->
        </ul>
      </li>
    </ul>

    <div class="hide-for-small-only" style="display: inline-block; float: right; font-size: 2rem; padding-top: 0.5rem; font-weight: 900; margin-right: 0.5rem;"><span style="color: red;">CAR</span><span style="color: black;">LINK</span></div>
  </div>

  <div class="top-bar-right hide-for-small-only">
  	<div class="hide-for-medium-only" style="width: 50%; float: left; font-size: 2rem; padding-top: 0.5rem; font-weight: 900;"><span> 鏈車網 </span></div>
    <form method="get" action="https://www.google.com.sg/search">
      <input type="hidden" name="sitesearch" value="www.lian-car.com"/>
      <ul class="menu float-right search-bar-menu nav navbar-nav">
        <li>
          <div class="input-group menu">
            <input class="input-group-field" type="search" name="q" placeholder="Google..." />
            <div class="input-group-button">
              <button type="submit" class="button"><i class="material-icons">search</i></button>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>