<div id="topmost-menu" class="title-bar hide" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon title-bar-menu-button" type="button" data-toggle="main-menu"></button>
  <div class="title-bar-title">
    <a href="/">
      <img src="/images/logo.png" style="max-height: 40px;"/>
    </a>
  </div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu data-responsive-menu="drilldown medium-dropdown">
      <li class="menu-text show-for-medium">
        <a href="/">
          <img src="/images/logo.png" style="max-height: 40px;"/>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="material-icons">directions_car</i>
        </a>
        <ul id="top-menu-placeholder" class="menu vertical">
          <!-- categories go here -->
        </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <form method="get" action="https://www.google.com.sg/search">
      <input type="hidden" name="sitesearch" value="www.lian-car.com"/>
      <ul class="menu float-right search-bar-menu">
        <li>
          <div class="input-group menu">
            <input class="input-group-field" type="search" name="q" placeholder="Google..." />
            <div class="input-group-button">
              <button type="submit" class="button"><i class="material-icons">search</i></button>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>