html, body{
	background-color: #CECECE;
}

article {
	background-color: white;
	padding: 0.25rem;	
}

#ArticleContentContainer img {
	height: auto !important;
}

#main-menu {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#main-menu .menu-text {
	padding: 0;
}

.row {
	background: white;
}

.title-bar-menu-button {
	background-color: #808080;
}

.title-bar{
	background: white;
}

.top-bar-left, .top-bar-right {
	width: 50% !important;
}

.top-bar, .top-bar ul{
	background: white;
	padding: 0;
}

.top-bar .search-bar-menu {
	margin-top: 0.6rem;
}

.container {
	background-color: white;
}

.article-footer {
	margin-top: 0.5rem;
	padding: 0rem 1rem;
	background: none;
}

.category-title a {
	color:red; 
	font-weight:bold;
}

.page-title {
	margin-top:3px; 
	margin-bottom:2px; 
	padding-bottom: 0px;
}

.entry-meta {
	font-size: 0.85rem;
	margin-bottom: 0.85rem;
	color: #606060;
}

.entry-content {
	padding: 0 0.5rem;
}

.cate-card .card{
	padding: 0.125rem;
}

.cate-card img{
	min-width: 100%;
	margin-bottom: 0.15rem;
}

.cate-card .card, .cate-card img {
	border: 0px;
}

.card-section {
    padding: 0.25rem;
    min-height: 73px;
    max-height: 73px;
    overflow-y: hidden;
}

.card-section .material-icons{
	font-size: 0;
	display: none;
}

.card-section a {
	color: #808080;
	text-decoration: none;
}

.side-bar {
	padding-left: 0.5rem;
}

.cate-container {
	padding: 0 0.6rem;
}

.video-card-section {
	margin-top: -0.25rem;
}

a.side-bar-news-cate{
	font-size: 0.85rem;
	color: red;
	display: block;
	width: 100%;
}